<header class="flex justify-between items-center py-3">
    <img 
    class="rounded-full w-6 h-6" 
    src="/gonzalo-photo.jpeg" 
    alt="gonzalo photo"
    >
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
        <a href="/contact">Contact</a>
    </nav>
</header>